


<!-- --------------------------------------------- POST 1 --------------------------------------------- -->





<!-- FEEDS ROW -->
<div class="row">

    <div class="col-12 col-md-6 col-lg-1">
        <!-- CHANGE WIDTH-->
    </div>

    <!-- MAIN FEEDS CONTENT -->
    <div class="col-12 col-md-7 col-lg-8">
        <div class="card">

            <!-- AVATAR AND POST AUTHOR -->
            <div class="card-header">
                <img src=<%= avatarImage1 %> class="avatar img-fluid rounded-circle mr-3" alt=" " />
                <h5 class="card-title mb-0">Posted by <a href=<%= authorProfile1 %> class="card-link"><%= author1 %></a></h5>
            </div>
            <!-- AVATAR AND POST AUTHOR -->

            <!-- POST TITLE IF ANY -->
            <div class="card-header">
                <h5 class="card-title mb-0"><%= postTitle1 %></h5>
            </div>
            <!-- POST TITLE IF ANY -->

            <!-- POST IMAGE IF ANY -->
            <img class="card-img-top" src=<%= postImage1 %> alt=" ">
            <!-- POST IMAGE IF ANY -->

            <!-- POST BODY IF ANY -->
            <div class="card-body">
                <p class="card-text"><%= postBody1 %></p>
                <a href="ui-cards.html" class="card-link"><i class="far fa-thumbs-up"></i> Like</a>
                <a href="ui-cards.html" class="card-link"><i class="fas fa-redo"></i> Circulate</a>


                <!----ACTIVITY---->
                <a class="card-link" href="#activity1" data-toggle="collapse">
                    <i class="align-middle mr-1 fas fa-chart-line"></i>
                    <span class="align-middle">Activity</span>
                </a>

                <div class="collapse" id="activity1" data-parent="#sidebar">
                    <a href="#" style="text-decoration:none;"> <%= likes1 %></a> Likes
                    <a href="#" style="text-decoration:none;"> <%= views1 %></a> Views
                    <a href="#" style="text-decoration:none;"> <%= circulations1 %></a> Circulations
                </div>
                <!----ACTIVITY---->
            </div>
            <!-- POST BODY IF ANY -->

        </div>
    </div>
    <!-- MAIN FEEDS CONTENT -->


    <div class="col-12 col-md-6 col-lg-2">
        <!-- CHANGE WIDTH-->
    </div>

</div>
<!-- FEEDS ROW -->




<!-- --------------------------------------------- POST 2 --------------------------------------------- -->







<!-- FEEDS ROW -->
<div class="row">

        <div class="col-12 col-md-6 col-lg-1">
            <!-- CHANGE WIDTH-->
        </div>
    
        <!-- MAIN FEEDS CONTENT -->
        <div class="col-12 col-md-7 col-lg-8">
            <div class="card">
    
                <!-- AVATAR AND POST AUTHOR -->
                <div class="card-header">
                    <img src=<%= avatarImage2 %> class="avatar img-fluid rounded-circle mr-3" alt=" " />
                    <h5 class="card-title mb-0">Posted by <a href=<%= authorProfile2 %> class="card-link"><%= author2 %></a></h5>
                </div>
                <!-- AVATAR AND POST AUTHOR -->
    
                <!-- POST TITLE IF ANY -->
                <div class="card-header">
                    <h5 class="card-title mb-0"><%= postTitle2 %></h5>
                </div>
                <!-- POST TITLE IF ANY -->
    
                <!-- POST IMAGE IF ANY -->
                <img class="card-img-top" src=<%= postImage2 %> alt=" ">
                <!-- POST IMAGE IF ANY -->
    
                <!-- POST BODY IF ANY -->
                <div class="card-body">
                    <p class="card-text"><%= postBody2 %></p>
                    <a href="ui-cards.html" class="card-link"><i class="far fa-thumbs-up"></i> Like</a>
                    <a href="ui-cards.html" class="card-link"><i class="fas fa-redo"></i> Circulate</a>
    
    
                    <!----ACTIVITY---->
                    <a class="card-link" href="#activity1" data-toggle="collapse">
                        <i class="align-middle mr-1 fas fa-chart-line"></i>
                        <span class="align-middle">Activity</span>
                    </a>
    
                    <div class="collapse" id="activity1" data-parent="#sidebar">
                        <a href="#" style="text-decoration:none;"> <%= likes2 %></a> Likes
                        <a href="#" style="text-decoration:none;"> <%= views2 %></a> Views
                        <a href="#" style="text-decoration:none;"> <%= circulations2 %></a> Circulations
                    </div>
                    <!----ACTIVITY---->
                </div>
                <!-- POST BODY IF ANY -->
    
            </div>
        </div>
        <!-- MAIN FEEDS CONTENT -->
    
    
        <div class="col-12 col-md-6 col-lg-2">
            <!-- CHANGE WIDTH-->
        </div>
    
    </div>
    <!-- FEEDS ROW -->




<!-- --------------------------------------------- POST 3 --------------------------------------------- -->




    
<!-- FEEDS ROW -->
<div class="row">

        <div class="col-12 col-md-6 col-lg-1">
            <!-- CHANGE WIDTH-->
        </div>
    
        <!-- MAIN FEEDS CONTENT -->
        <div class="col-12 col-md-7 col-lg-8">
            <div class="card">
    
                <!-- AVATAR AND POST AUTHOR -->
                <div class="card-header">
                    <img src=<%= avatarImage3 %> class="avatar img-fluid rounded-circle mr-3" alt=" " />
                    <h5 class="card-title mb-0">Posted by <a href=<%= authorProfile3 %> class="card-link"><%= author3 %></a></h5>
                </div>
                <!-- AVATAR AND POST AUTHOR -->
    
                <!-- POST TITLE IF ANY -->
                <div class="card-header">
                    <h5 class="card-title mb-0"><%= postTitle3 %></h5>
                </div>
                <!-- POST TITLE IF ANY -->
    
                <!-- POST IMAGE IF ANY -->
                <img class="card-img-top" src=<%= postImage3 %> alt=" ">
                <!-- POST IMAGE IF ANY -->
    
                <!-- POST BODY IF ANY -->
                <div class="card-body">
                    <p class="card-text"><%= postBody3 %></p>
                    <a href="ui-cards.html" class="card-link"><i class="far fa-thumbs-up"></i> Like</a>
                    <a href="ui-cards.html" class="card-link"><i class="fas fa-redo"></i> Circulate</a>
    
    
                    <!----ACTIVITY---->
                    <a class="card-link" href="#activity1" data-toggle="collapse">
                        <i class="align-middle mr-1 fas fa-chart-line"></i>
                        <span class="align-middle">Activity</span>
                    </a>
    
                    <div class="collapse" id="activity1" data-parent="#sidebar">
                        <a href="#" style="text-decoration:none;"> <%= likes3 %></a> Likes
                        <a href="#" style="text-decoration:none;"> <%= views3 %></a> Views
                        <a href="#" style="text-decoration:none;"> <%= circulations3 %></a> Circulations
                    </div>
                    <!----ACTIVITY---->
                </div>
                <!-- POST BODY IF ANY -->
    
            </div>
        </div>
        <!-- MAIN FEEDS CONTENT -->
    
    
        <div class="col-12 col-md-6 col-lg-2">
            <!-- CHANGE WIDTH-->
        </div>
    
    </div>
    <!-- FEEDS ROW -->

