<!DOCTYPE html>
<html lang="en">

<!-- HEAD AND NAVBAR -->
<%- include('header'); -%>



<!-----------------------------------PROFILE----------------------------------->

<div class="col-12 col-md-8 col-lg-9 col-xl-10 pl-lg-4">

	<div class="row">
		<div class="col-6 col-xl-3 d-flex">
			<div class="card flex-fill">
				<div class="card-body py-3">
					<div class="row">
						<div class="col-12 col-sm-4 align-self-center text-center text-sm-left">
							<div class="icon icon-primary">
								<i class="align-middle" data-feather="activity"></i>
							</div>
						</div>
						<div class="col-12 col-sm-8 align-self-center text-center text-sm-right">
							<p class="text-muted mb-1">Online Now</p>
							<h2><i class="text-primary"></i><%= onlineNow %></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 col-xl-3 d-flex">
			<div class="card flex-fill">
				<div class="card-body py-3">
					<div class="row">
						<div class="col-12 col-sm-4 align-self-center text-center text-sm-left">
							<div class="icon icon-danger">
								<i class="align-middle" data-feather="users"></i>
							</div>
						</div>
						<div class="col-12 col-sm-8 align-self-center text-center text-sm-right">
							<p class="text-muted mb-1">Online Today</p>
							<h2><i class="text-danger"></i><%= onlineToday %></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 col-xl-3 d-flex">
			<div class="card flex-fill">
				<div class="card-body py-3">
					<div class="row">
						<div class="col-12 col-sm-4 align-self-center text-center text-sm-left">
							<div class="icon icon-success">
								<i class="align-middle" data-feather="star"></i>
							</div>
						</div>
						<div class="col-12 col-sm-8 align-self-center text-center text-sm-right">
							<p class="text-muted mb-1">Connections</p>
							<h2><i class="text-primary"></i><%= connections %></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 col-xl-3 d-flex">
			<div class="card flex-fill">
				<div class="card-body py-3">
					<div class="row">
						<div class="col-12 col-sm-4 align-self-center text-center text-sm-left">
							<div class="icon icon-warning">
								<i class="align-middle" data-feather="plus"></i>
							</div>
						</div>
						<div class="col-12 col-sm-8 align-self-center text-center text-sm-right">
							<p class="text-muted mb-1">New Posts</p>
							<h2><i class="text-danger"></i><%= newPosts %></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
































































































	<!------------------------------------------------------------------------------------------------------>
	<!--ROW1-->
	<div class="row">


		<!------------------------------------------------------------------------------------------------------>
		<!--ATTENDANCE-->
		<div class="col-12 col-lg-8 col-xxl-3 d-flex">
			<div class="card flex-fill w-100">
				<div class="card-header">
					<h5 class="card-title mb-0">Attendance</h5>
				</div>
				<div class="card-body d-flex w-100">
					<div class="align-self-center chart chart-lg">
						<canvas id="chartjs-dashboard-bar"></canvas>
					</div>
				</div>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function (event) {
					// Bar chart
					new Chart(document.getElementById("chartjs-dashboard-bar"), {
						type: 'bar',
						data: {
							labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
							datasets: [{
								label: "Last year",
								backgroundColor: "#41D492",
								borderColor: "#41D492",
								hoverBackgroundColor: "#41D492",
								hoverBorderColor: "#41D492",
								data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79]
							}]
						},
						options: {
							maintainAspectRatio: false,
							legend: {
								display: false
							},
							scales: {
								yAxes: [{
									gridLines: {
										display: false
									},
									stacked: false,
									ticks: {
										stepSize: 20
									}
								}],
								xAxes: [{
									barPercentage: .75,
									categoryPercentage: .5,
									stacked: false,
									gridLines: {
										color: "transparent"
									}
								}]
							}
						}
					});
				});
			</script>
		</div>
		<!------------------------------------------------------------------------------------------------------>



		<!------------------------------------------------------------------------------------------------------>
		<!--CALENDAR-->
		<div class="col-12 col-xl-4 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">Calendar</h5>
				</div>
				<div class="card-body d-flex">
					<div class="align-self-center w-100">
						<div class="chart">
							<div id="datetimepicker-dashboard"></div>
						</div>
					</div>
				</div>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function (event) {
					$('#datetimepicker-dashboard').datetimepicker({
						inline: true,
						sideBySide: false,
						format: 'L'
					});
				});
			</script>
		</div>
		<!------------------------------------------------------------------------------------------------------>


	</div>
	<!--ROW1END-->
	<!------------------------------------------------------------------------------------------------------>





























































	<!------------------------------------------------------------------------------------------------------>
	<!--ROW4-->
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-9 d-flex">
			<div class="card flex-fill">

				<div class="card-header">
					<h5 class="card-title mb-0">Education</h5>
				</div>



				<div class="row">

					<!---
											<div class="col-12 col-lg-1 d-flex">
											</div>
	--->
					<div class="col-12 col-lg-12 col-xxl-9 d-flex">
						<div class="card flex-fill">


							<!----REPEAT---->
							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">
								<li class="list-group-item" style="background-color: #F0F8FF"><b>Muthoot
										Institute of Technology
										and
										Science, Varikoli P.O. Putencruz
										-682308 Ernakulam</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">Bachelor
									of Technology - BTech
									Field Of
									StudyComputer Science Engineering
								</li>
								<li class="list-group-item" style="background-color: #F0F8FF">2016-2020
								</li>
							</ul>
							<!----REPEAT---->


							<!----REPEAT---->
							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">
								<li class="list-group-item" style="background-color: #F0F8FF"><b>Cochin
										Refineries School,
										Jwalagiri</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">Higher
									Secondary, Computer Science
								</li>
								<li class="list-group-item" style="background-color: #F0F8FF">2014-2016
								</li>
							</ul>
							<!----REPEAT---->


							<!----REPEAT---->
							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">
								<li class="list-group-item" style="background-color: #F0F8FF"><b>Toc-H
										Public School,
										Thiruvankulam</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">Middle
									School
								</li>
								<li class="list-group-item" style="background-color: #F0F8FF">2009-2014
								</li>
							</ul>
							<!----REPEAT---->


						</div>
					</div>


					<!---
											<div class="col-12 col-lg-1 d-flex">
											</div>
	--->
				</div>

			</div>
		</div>
	</div>
	<!------------------------------------------------------------------------------------------------------>
	<!--ROW4END-->































































	<!------------------------------------------------------------------------------------------------------>
	<!--ROW5-->
	<div class="row">


		<div class="col-12 col-lg-4 col-xxl-9 d-flex">
			<div class="card flex-fill">

				<div class="card-header">
					<h5 class="card-title mb-0">Skills</h5>
				</div>



				<div class="row">

					<div class="col-12 col-lg-12 col-xxl-9 d-flex">
						<div class="card flex-fill">

							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">

								<!----REPEAT---->
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Node.js</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF"><b>C++</b>
								</li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Java</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Python</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>HTML</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF"><b>CSS</b>
								</li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Ruby</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Back-End Web Development</b>
								</li>
								<li class="list-group-item" style="background-color: #F0F8FF"><b>Network
										Administration</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Operating Systems</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Leadership</b></li>
								<!----REPEAT---->

							</ul>


						</div>
					</div>

				</div>



			</div>
		</div>














		<div class="col-12 col-lg-8 col-xxl-9 d-flex">
			<div class="card flex-fill">

				<div class="card-header">
					<h5 class="card-title mb-0">Accomplishments</h5>
				</div>



				<div class="row">


					<div class="col-12 col-lg-12 col-xxl-9 d-flex">
						<div class="card flex-fill">


							<!----REPEAT---->
							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Building an Ubuntu Home Server</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">Mar 2019 –
									Present</li>
							</ul>
							<!----REPEAT---->


							<!----REPEAT---->
							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Learning Cryptography and Network Security</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">Mar 2019 –
									Present</li>
							</ul>
							<!----REPEAT---->


							<!----REPEAT---->
							<br>
							<ul class="list-group list-group-flush" style="background-color: #fff">
								<li class="list-group-item" style="background-color: #F0F8FF">
									<b>Introduction to Modern Application Development</b></li>
								<li class="list-group-item" style="background-color: #F0F8FF">License
									NPTEL17CS0626310021AN</li>
							</ul>
							<!----REPEAT---->


						</div>
					</div>


				</div>



			</div>
		</div>




















	</div>
	<!------------------------------------------------------------------------------------------------------>
	<!--ROW5END-->













































	<!------------------------------------------------------------------------------------------------------>
	<!--ROW2-->
	<div class="row">


		<!------------------------------------------------------------------------------------------------------>
		<!--BROWSER USAGE-->
		<div class="col-12 col-lg-4 d-flex">
			<div class="card flex-fill w-100">

				<div class="card-header">
					<h5 class="card-title mb-0">Interests</h5>
				</div>

				<div class="card-body d-flex">

					<div class="align-self-center w-100">
						<div class="py-3">
							<div class="chart chart-sm">
								<canvas id="chartjs-dashboard-pie"></canvas>
							</div>
						</div>



						<table class="table mb-0">

							<tbody>
								<tr>
									<td><i class="fas fa-square-full" style="color: #FF4136;"></i>
										Cycling</td>
									<td class="text-right">3001</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #5C59ED;"></i>
										Movies</td>
									<td class="text-right">1703</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #F2B51D;"></i>
										Travelling</td>
									<td class="text-right">4589</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #41D492;"></i>
										Computer Networks</td>
									<td class="text-right">4500</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #F012BE;"></i>
										Operating Systems</td>
									<td class="text-right">3500</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #F2B51D;"></i>
										Distributed Systems</td>
									<td class="text-right">3700</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #5C59ED;"></i> IOT
									</td>
									<td class="text-right">3500</td>
								</tr>

								<tr>
									<td><i class="fas fa-square-full" style="color: #DDDDDD;"></i> Other
									</td>
									<td class="text-right">1000</td>
								</tr>

							</tbody>

						</table>

					</div>
				</div>

			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function (event) {
					// Pie chart
					new Chart(document.getElementById("chartjs-dashboard-pie"), {
						type: 'pie',
						data: {
							labels: ["Cycling", "movies", "Travelling", "Computer Networks", "Operating Systems", "Distributed Systems", "IOT", "Other"],
							datasets: [{
								data: [3001, 1703, 4589, 4500, 3500, 3700, 3500, 1000],
								backgroundColor: ["#FF4136", "#5C59ED", "#F2B51D", "#41D492", "#F012BE", "#F2B51D", "#5C59ED", "#DDDDDD"],
								borderColor: "transparent"
							}]
						},
						options: {
							responsive: !window.MSInputMethodContext,
							maintainAspectRatio: false,
							legend: {
								display: false
							},
							cutoutPercentage: 60
						}
					});
				});
			</script>
		</div>
		<!------------------------------------------------------------------------------------------------------>










		<!------------------------------------------------------------------------------------------------------>
		<!--PERFORMANCE-->
		<div class="col-12 col-lg-8 d-flex">
			<div class="card flex-fill w-100">
				<div class="card-header">
					<h5 class="card-title mb-0">Performance</h5>
				</div>
				<div class="card-body">
					<div class="chart chart-lg mt-2">
						<canvas id="chartjs-dashboard-line"></canvas>
					</div>
				</div>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function (event) {
					// Line chart
					new Chart(document.getElementById("chartjs-dashboard-line"), {
						type: 'line',
						data: {
							labels: ["Jan", "", "Feb", "", "Mar", "", "Apr", "", "May", "", "Jun", "", "Jul", "", "Aug", "", "Sep", "", "Oct", "", "Nov", "", "Dec", ""],
							datasets: [{
								label: "Sales ($)",
								fill: true,
								backgroundColor: "rgba(65, 212, 146, 0.15)",
								borderColor: "#41D492",
								data: [6, 7, 8, 11, 9, 11, 8, 14, 12, 16, 9, 10, 14, 15, 9, 12, 16, 17, 22, 18, 24, 32, 31, 36]
							}, {
								label: "Orders",
								fill: true,
								backgroundColor: "rgba(206, 212, 218, 0.15)",
								borderColor: "#AFBBBF",
								borderDash: [4, 4],
								data: [3, 5, 4, 9, 5, 8, 5, 6, 4, 7, 4, 3, 4, 6, 4, 7, 12, 12, 18, 15, 20, 25, 22, 25]
							}]
						},
						options: {
							maintainAspectRatio: false,
							legend: {
								display: false
							},
							tooltips: {
								intersect: false
							},
							hover: {
								intersect: true
							},
							plugins: {
								filler: {
									propagate: false
								}
							},
							elements: {
								line: {
									tension: 0
								}
							},
							scales: {
								xAxes: [{
									reverse: true,
									gridLines: {
										color: "rgba(0,0,0,0.0)"
									}
								}],
								yAxes: [{
									ticks: {
										stepSize: 5
									},
									display: true,
									borderDash: [5, 5],
									gridLines: {
										color: "rgba(0,0,0,0)",
										fontColor: "#fff"
									}
								}]
							}
						}
					});
				});
			</script>
		</div>
		<!------------------------------------------------------------------------------------------------------>



	</div>
	<!------------------------------------------------------------------------------------------------------>
	<!--ROW2END-->

















































































	<!------------------------------------------------------------------------------------------------------>
	<!--ROW3-->
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-9 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">Score Sheet</h5>
				</div>
				<table id="datatables-dashboard" class="table table-striped my-0">
					<thead>
						<tr>
							<th>Subject</th>
							<th class="d-none d-xl-table-cell">Internal Test 1</th>
							<th class="d-none d-xl-table-cell">Internal Test 2</th>
							<th class="d-none d-xl-table-cell">Assignment Test</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>COA</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>OS</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>PDD</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>DAA</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>CD</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>CN</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>POM</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>SEPM</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
						<tr>
							<td>PDTNM</td>
							<td><span class="d-none d-xl-table-cell">5</span></td>
							<td><span class="d-none d-xl-table-cell">20</span></td>
							<td><span class="d-none d-xl-table-cell">15</span></td>
							<td class="d-none d-xl-table-cell">28</td>
						</tr>
					</tbody>
				</table>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function (event) {
					$('#datatables-dashboard').DataTable({
						pageLength: 6,
						lengthChange: false,
						bFilter: false,
						autoWidth: false
					});
				});
			</script>
		</div>

	</div>
	<!------------------------------------------------------------------------------------------------------>
	<!--ROW3END-->






































































































</div>
</div>
</div>
</main>



<%- include('footer'); -%>


</body>

</html>